---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Acceuil";
const description = "Page es idee de nti consulting";
---

<Layout title={pageTitle} description={description}>
	<main class="container">
		<h2 class="tx-cn">Bienvenu</h2>

		<p class="tx-cn ">
			Nous visons à être votre partenaire de confiance afin de vous offrir
			une assistance fiable et déterminante pour le développement de votre
			entreprise.
		</p>

		<h2>Ce que nous faisons</h2>
		 • Business plan - Montage et étude de faisabilité économique des
		projets ; • Audits comptables, financiers et organisationnels ; •
		Commissariats aux comptes ; • Commissariats aux apports ; • Manuel de
		procédures administratives, financières et comptables ; • Revue et
		certification des états financiers ; • Inventaires et autres …
	</main>
</Layout>
