---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const mytext = encodeURIComponent('Bjr, On sait comment faire ici');
---

<main  id="contacts" >
    <h1 class="tx-cn">Contacts</h1>

    <div>
        <h2>{t('contact.rdy')}</h2>
        <p>{t('contact.touch')}</p>
    </div>

    <form action="">
        <p>
            <strong>{t('contact.us')} :</strong><br />
            <a href=`https://wa.me/237677316329?text=${mytext}`>
                +237 696 560 588 <br />
                +237 677 316 329 <br />
            </a> 
             ntibusinessconsulting@gmail.com
        </p>
        <input type="text" name="name" placeholder="Name" required />
        <input type="text" name="contact" placeholder="Email / Tel" required />
        <textarea
            name="message"
            cols="3"
            rows="3"
            placeholder="Message"
            required></textarea>
        <button class="btn"> {t('send')}</button>
    </form>
</main>

<style>
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem 1rem;
        gap: 3rem;
        background: url('../assets/point.jpg') rgba(26, 19, 32, 0.655) no-repeat scroll center;
        background-blend-mode:multiply ;
        background-size: cover;
        color: aliceblue;
    }

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    textarea,
    input {
        padding: 10px;
    }

    h1,
    input,
    textarea,
    form,
    div,
    p, .img {
        width: 100%;
    }

    @media (min-width: 768px) {
        input {
            width: calc(50% - 1rem);
        }

        form {
            width: 50%;
        }

        div {
            width: 30%;
        }

        .img {
            height: 210px;
            width: 210px;
        }
    }
</style>
