---
import { Image } from "astro:assets";
import myImage from "../assets/point.jpg";
---

<main>
    <h1 class="tx-cn">Contact</h1>

    <h2 class="tx-cn">
        Prêt à faire passer votre entreprise au niveau supérieur ?
    </h2>

    <Image
        src={myImage}
        class="img"
        decoding="async"
        loading="lazy"
        alt="A description of my image."
    />

    <form action="">
        <p>
            <strong>Contacter nous :</strong><br />
             +237 696 560 588 <br />
             +237 677 316 329 <br />
             ntibusinessconsulting@gmail.com
        </p>
        <p>
            Contactez-nous dès aujourd'hui pour en savoir plus sur la manière dont NTI Businness Consulting peut soutenir la croissance de votre entreprise ou business.
        </p>
        <input type="text" name="name" placeholder="Name" required />
        <input type="text" name="contact" placeholder="Email / Tel" required />
        <textarea
            name="message"
            cols="3"
            rows="3"
            placeholder="Message"
            required></textarea>
        <button class="btn"> Envoyer</button>
    </form>
</main>

<style>
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem 1rem;
        gap: 3rem;
        background: rgb(26, 19, 32);
        color: white;
    }

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    textarea,
    input {
        padding: 10px;
    }

    h1, h2,
    input,
    textarea,
    form,
    div,
    p, .img {
        width: 100%;
    }

    @media (min-width: 768px) {
        input {
            width: calc(50% - 1rem);
        }

        form {
            width: 50%;
        }

        div {
            width: 30%;
        }

        .img {
            height: 210px;
            width: 210px;
        }
    }
</style>
