---
interface Props {
  heading: string;
  list:{
    link: string;
    name: string
  }[];
}
const { list, heading } = Astro.props;
---

<section>
    <p>
        <strong>{heading}</strong>  <span> ❮ </span>
    </p>

    <div>
        {list.map((item) => <a href={item.link}>{item.name}</a>)}
    </div>
</section>

<style>

    section  {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: inherit;
        width: 100%;
    }

    p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
        font-weight: 700;
        border-bottom: 1px solid #ddd;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 0.32rem;
        max-height: 0;
        justify-content: space-between;
        overflow: hidden;
        transition: all 0.3s linear;
    }

    section:hover div {
        max-height: 300px;
    }

    section span {
        rotate: 180deg;
        transition: all 0.28s ease-in-out;
    }

    section:hover span {
        rotate: 90deg;
    }

    @media (min-width: 640px) {
        section {
            width: fit-content;
            border: none;
        }

        div {
            max-height: 100%;
        }

        p {
            width: fit-content;
            border-bottom: 2px solid var(--cm-clr);
        }

        p span {
            display: none;
        } 
    }
</style>
