---
import Navbar from './Navbar.astro';
interface Props {
    image?: string;
    description?: string;
    link?:string;
}

const { image , description, link } = Astro.props;
---

<header>
    <section>
        <h3>
            {description}
        </h3>
        { link ? <a href={link} class="btn">Contactez Nous</a> : ''}
    </section>
</header>

<style>
    header {
        width: 100%;
        min-height: 450px;
        height: 90vh;
        background: url("../assets/frog.webp") rgba(19, 1, 43, 0.74) no-repeat fixed center;
        background-size: cover;
        background-blend-mode: darken;
        color: white;
        display: grid;
        place-content: center;
        gap: 2rem;
        padding: 1rem;
    }

    section {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2.5rem;
        max-width: 640px;
        height: fit-content;
    }
</style>
