
<select name="">
    <option value="En">English</option>
    <option value="Fr">Francais</option>
</select>


<style>

    select {
        appearance: none;
        width: 68px;
        outline: none;
        border: none;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
    }

    option {
        appearance: none;
        background-color: inherit;
        color: inherit;
    }

    .dark option, .dark select {
        color: red;
        background: #333;
    }
</style>