---
import { languages } from '../i18n/ui';
---

<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/nti-consulting/${lang}/`}>{label}</a>
    </li>
  ))}
</ul>

<style>
  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
</style>